body {
  background-color: #383838;
  color:  #F7F7F7;
  font-family: 'Raleway', sans-serif;
  }

input {
  color: #383838;
  background-color:  #dedede;
}

button {
  color: #383838;
  background-color:  #F7F7F7;
  border: 1px solid #4b4b4b;
}

.search {
  width: 50%;
}

.searchForm {
  width: 50%;
  margin-top: 1%;
  text-align: center;
  position: fixed;
}

.wrap {
  width: 100%;
}

.artist {
  width: 80%;
  margin: 0 auto;
  color: black;
  background-color:  #dedede;
}

.artistImage {
  width: 100%;
    border-bottom: 1px solid #383838;

}

.artistDescription {
  margin-left: 1%;
  margin-right: 1%;
}

.artistInfo {
  display: inline;
}

.artistName {
  margin: 0;
  font-size: 1.5em;

}


.artistGenre {
  margin: 0;
  margin-bottom: 2%;
  font-style: italic;
}