body {
  background-color: #383838;
  color:  #F7F7F7;
  font-family: 'Raleway', sans-serif;
  }

input {
  color: #383838;
  background-color:  #dedede;
}

button {
  color: #383838;
  background-color:  #F7F7F7;
  border: 1px solid #4b4b4b;
}


span {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #383838;
  font-size: 2em;

}

.container {
  padding-bottom: 10%;
}

.searchInput {
  margin: 0 auto;
  width: 50%;
}

.searchButton {
  margin: 0 auto;
  max-width: 40%
}

.searchForm {
  width: 100%;
  margin-top: 5%;
  text-align: center;

}

.wrap {
  width: 100%;
  text-align: center;
}

.artist {
  width: 90%;
  margin-bottom: 10%;
  color: #383838;
  background-color:  #dedede;
  display: inline-block;
  border: 1px solid #dedede;
  float: left;

}

.artistImage {
  width: 100%;
  border-bottom: 1px solid #383838;
}

.artistCenter {
  text-align: center;
  padding-bottom: 8%;
}

.artistDescription {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10%;
}

.artistInfo {
  display: inline;
}

.artistName {
  margin: 0;
  font-size: 1.75em;
  margin-top: 5%;

}

.artistGenre {
  margin: 0;
  margin-bottom: 2%;
  font-size: 1.25em;
  font-style: italic;
}

.artistBio {
  font-size: 1.15em;
  text-align: left;
}

.artistTrackImage {
  width: 100%;
}

audio {
  width: 100%;
}


@media (min-width: 550px) {
  .artist {
    width: 45%;
    margin: 2.5%;
  }
}

@media (min-width: 900px) {
  .artist {
    width: 29.5%;
    margin: 1.66%;
  }
}

