
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-youtube-squared:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-wordpress:before { content: '\e803'; } /* '' */
.icon-wikipedia:before { content: '\e804'; } /* '' */
.icon-spotify:before { content: '\e805'; } /* '' */
.icon-cd:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-arrows-cw:before { content: '\e808'; } /* '' */